.profile > img {
  height: 170px;
  pointer-events: none;
  align-self: center;
  border-radius: 5px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 3px 1px -2px rgba(0, 0, 0, 0.12), 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
}

.section {
  margin: -25px 0 0 -25px;
  width: 50vw;
  height: 50vh;
  /* background-color: black; */
  position: absolute;
  top: 25%;

  left: 25%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card-body {
  border-radius: 10px;
  background: linear-gradient(290deg, #1f1732, #e92a2a);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12), 0px 2px 4px -1px rgba(0, 0, 0, 0.2);
  width: 65%;
  height: 40%;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px 30px;
  gap: 15px;
}

.profile {
  width: 160px;
  height: 120px;
  color: aliceblue;
  text-align: center;
  display: flex;
  justify-content: center;
  align-self: center;
}

.title > h1 {
  font-size: 1.5rem;
  font-family: "Days One";
  font-weight: 600;
  color: beige;
  text-transform: uppercase;
  letter-spacing: 1.1pt;
}

.details {
  width: 400px;
  height: 140px;
  display: flex;
  flex-direction: column;

  text-align: left;
  justify-content: flex-start;
  align-items: flex-start;

  margin-top: 2%;
  padding-left: 10px;
  gap: 5px;
}

.description {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  color: white;
  width: 98%;
  padding: 5px;
  font-weight: bold;
  text-align: left;
  letter-spacing: 0.1pt;
  line-height: 20px;
}
